Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
scikit-learn==0.19.2
google-cloud-bigquery==1.22.0
pandas==0.25.2
numpy==1.17.2
Pillow==5.2.0
scipy==1.1.0
h5py==2.10.0
keras==2.3.1
keras-applications==1.0.8
keras-preprocessing==1.1.0
pyyaml==5.2
absl-py==0.8.1
astor==0.8.1
gast==0.2.2
google-pasta==0.1.8
grpcio==1.25.0
markdown==3.1.1
opt-einsum==3.1.0
tensorboard==2.0.2
tensorflow==2.7.2
tensorflow-estimator==2.0.1
termcolor==1.1.0
opencv-python==4.1.0.25
